"*":
  core:
    disabledPackages: [
      "emacs-plus"
      "disable-keybindings"
    ]
    telemetryConsent: "no"
  "disable-keybindings":
    bundledPackages: [
      "core"
      "core:linux"
    ]
    communityPackages: [
      "core"
      "core:linux"
    ]
  editor:
    fontSize: 27
  "exception-reporting":
    userId: "14ecedb1-091e-4adb-955a-a333bcd756af"
  welcome:
    showOnStartup: false
