"*":
  core:
    disabledPackages: [
      "emacs-plus"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 21
  "exception-reporting":
    userId: "14ecedb1-091e-4adb-955a-a333bcd756af"
  welcome:
    showOnStartup: false
