# OS
.DS_Store

# Temp
*#
*~
**/*~
*/*~
.#*


# Generic
*.log

#Python
**/*.pyc
*.pyc

# IDE: Intellij/idea
**/.idea
**/*.iml

# Maven
**/target

# Ansible
*.retry

# Vagrant
**/.vagrant

# TERRAFORM
**/.terraform

# VSCODE
**/.vscode

# All terraform files
# Compiled files
**/*.tfstate
**/*.tfstate.backup
# Module directory
**/.terraform/
# Sensitive Files
**/variables.tf
# Custom
**/*.tfplan


